<p id="notice"><%= notice %></p>
<center>
<h1 id="Title-Welcome">Welcome to ZLP Scheduler!</h1>
<h1 id = "Schedule-Title">Schedule your interview down below</h1>
<br>
<%= link_to 'New Interview', new_user_path %>
</center>