<h1>New Interview</h1>

<p> Interview must be in the following date and time range: </p>
<table>
  <tbody>
    <% @admin.each do |a| %>
      <tr>
        <td><%= a.dateRange %></td>
        <td><%= a.timeRange%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= render 'form', user: @user %>

<%= link_to 'Back', users_path %>
